.lb {
  position: absolute;
  bottom: 32px;
  left: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.color {
  grid-area: icon;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
}
