.logo {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: auto;
}

.lb {
  position: fixed;
  bottom: 32px;
  left: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
}
